<footer class="site-footer">
  <div class="footer-inner">
    <div class="footer-top">
      <div class="footer-brand">
        <h3 class="brand-name">SitAndDrive</h3>
        <p class="brand-desc">Our vision is to provide convenience and help increase your sales business.</p>
      </div>
      <div class="footer-links">
        <div class="link-group">
          <h4>About</h4>
          <a routerLink="/">How it works</a>
          <a routerLink="/">Featured</a>
          <a routerLink="/">Partnership</a>
          <a routerLink="/">Business Relation</a>
        </div>
        <div class="link-group">
          <h4>Socials</h4>
          <a routerLink="/">Discord</a>
          <a routerLink="/">Instagram</a>
          <a routerLink="/">Twitter</a>
          <a routerLink="/">Facebook</a>
        </div>
        <div class="link-group">
          <h4>Community</h4>
          <a routerLink="/">Events</a>
          <a routerLink="/">Blog</a>
          <a routerLink="/">Podcast</a>
          <a routerLink="/">Invite a friend</a>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <span class="copyright">&copy; {{ currentYear }} SitAndDrive. All Rights Reserved.</span>
      <div class="footer-legal">
        <a routerLink="/">Privacy & Policy</a>
        <a routerLink="/">Terms & Condition</a>
      </div>
    </div>
  </div>
</footer>
